In [1]:
import pandas as pd
import json

In [2]:
file = 'gdb_males.csv'

In [3]:
df = pd.read_csv(file, encoding='utf-8')

In [4]:
len(df)

14216

In [5]:
df['clean_name3'] = df['clean_name'].apply(lambda x: x.replace('[', '').replace(']', '').replace("'", "").replace(', ', ' '))

In [6]:
def remove_words(text, words):

    text = text.split()
    rv = []
    for word in text:
        if word not in words:
            rv.append(word)
    
    return ' '.join(rv)

In [7]:
remove = ['calle', 'jiron', 'pasaje', 'de', 'avenida', 'los', 'las', 'la', 'el', 'prolongacion',
          'y', 'del', 'alameda', 'este', 'oeste', 'malecon']

In [8]:
df['clean_name4'] = df['clean_name3'].apply(lambda x: remove_words(x, remove))

In [9]:
iguales = {
    'miguel grau': ['almirante miguel grau',
                    'via expresa almirante miguel grau',
                    'grau'],
    'ramon castilla': ['mariscal ramon castilla'],
    'nestor gambetta': ['coronel nestor gambetta'],
    'luis fernan bedoya reyes': ['via expresa luis fernan bedoya reyes'],
    'pastor sevilla': ['ciclovia pastor sevilla'],
    'ramiro priale': ['autopista ramiro priale'],
    'velazco astete': ['velasco astete'],
    'jose mar': ['mariscal mar'],
    'agustin gamarra': ['mariscal agustin gamarra']
}

In [10]:
no_hombres = [
    '28 julio',
    'loreto',
    'caminos inca',
    'virgen carmen',
    'santa isabel',
    'carmen',
    '15 julio',
    'isabel chimpu ocllo',
    'isabel catolica',
    'j',
    'salvador',
    'cruz'
]

In [11]:
df2 = df[~df['clean_name4'].isin(no_hombres)].reset_index(drop=True)

In [12]:
iguales2 = {}
for key, lst in iguales.items():
    for item in lst:
        iguales2[item] = key

In [13]:
df2['clean_name4'] = df2['clean_name4'].replace(iguales2)

In [14]:
tabulacion = df2['clean_name4'].value_counts()

In [15]:
tabulacion = tabulacion.reset_index().rename(columns={'clean_name4': 'total', 'index': 'nombre'})

In [16]:
tabulacion.to_csv('tabulacion_nombres_hombres.csv', index=False, encoding='utf-8')